{% extends "base.html" %}

{% block title %}
    {{ object.name }}
{% endblock %}

{% block content %}
    <h1>{{ object.name }}</h1>
     <img src="{{ object.img.url }}" width="300px">
    <ul>
        <li>
            City: {{ object.city.name }}
        </li>
        <li>
            Rate: {{ object.rate }}
        </li>
        <li>
            Description: {{ object.description }}
        </li>
    </ul>
    <hr>
    <h3>Comments</h3>
    <a class="btn btn-warning" href="/comment/{{ object.pk }}/create/">Add comment</a>
    <ul>
        {% for comment in object.comments %}
        <li>
            <p>{{comment.text}}</p>
            <p>Author: {{comment.user.username}}</p>
            <a class="btn btn-warning" href="/comment/update/{{ comment.pk }}/">Edit</a>
            <a class="btn btn-warning" href="/comment/delete/{{ comment.pk }}/">Delete</a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
