{% extends "base.html" %}

{% block title %}
 Main
{% endblock %}

{% block content %}
    <ul>
        {% for item in object_list %}
        <li>
            <img src="{{ item.img.url }}" width="150px">
            <a href="/place/{{ item.pk }}/">{{ item.name }}</a>
            <a class="btn btn-danger" href="/place/delete/{{ item.pk }}/">Delete</a>
            <a class="btn btn-warning" href="/place/update/{{ item.pk }}/">Update</a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    {% if user.is_superuser %}
    <a href="place/create/" class="btn btn-primary">Create place</a>
    {% endif %}
{% endblock %}
