{% extends "base.html" %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Save</button>
    </form>

{% endblock %}
