{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome to Interesting places!!!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Hello, {{user.username}}</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/logout/">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/register/">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/">Sign in</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% block title %}
{% endblock %}
<main class="container">
    {% block content %}
    {% endblock %}
</main>
<script src="{% static 'css/bootstrap.min.js' %}"></script>
</body>
</html>